.venv/
__pycache__/
*.pyc
.DS_Store
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
reports/*
figures/*
!reports/.gitkeep
!figures/.gitkeep
notebooks/*
!notebooks/.gitkeep
.venv*
